<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :title %>
  <%= f.text_field :title, :placeholder => "Title", class: "w-input" %>
  <%= f.label :description %>
  <%= f.text_field :description, :placeholder => "Description", class: "w-input" %>
  <%= f.label :skills %>
  	<%= f.text_field :skill_list, :placeholder => "Tags (comma separated)",  class: "w-input"%>
  <div class="actions">
  	<%= f.submit 'Update', :class => "w-button" %>
  </div>
<% end %>
