<%= form_for(@user, :html => {autocomplete:'off'}) do |f| %>
  <% if @user.errors.any? %>

      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

  <% end %>


    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div width="auto" height="auto">
        <%= render "users/upload_form", :f => f %>
          </div>
        </div>

        <div class="w-col w-col-6 hero-column";float:right>

    <% if !flash.empty? and !(flash.empty? == "SUCCESS!")%>
      <%= flash[:notice] %>
    <% end %>
    <%= f.label :username%>
    <%= f.text_field :username, :placeholder => "Username", class: "w-input" %>
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => "Name", class: "w-input" %>
    <%= f.label :email %>
    <%= f.text_field :email, :placeholder => "Email Address", class: "w-input" %>
    <%= f.label :password %>
    <%= f.password_field :password, :placeholder => "Password", class: "w-input" %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :placeholder => "Password Confirm", class: "w-input"%>

    <% if not @user.recruiter %>
    <%= f.label :skills %>
    <%= f.autocomplete_field :skill_list, autocomplete_skill_name_users_path, :"data-delimiter" => ', ', class: "w-input" %>
    <%= f.label :major %>
    <%= f.text_field :major, :placeholder => "Major", class: "w-input" %>
    <%= f.label :websites %>
    <%= f.text_field :website, :placeholder => "Linkedin URL", class: "w-input" %>
    <%= f.label :graduating_year %>
    <%= f.text_field :graduating_year, :placeholder => "Graduating Year", class: "w-input" %>

<h4><div align="left">Resume: </div>
       <% if @user.resume.exists? %> 
        <div align="left">
        <a href=<%= @user.resume.url(:download => true) %> class="h4"><%= @user.resume_file_name %></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to "Delete", {:controller => "users", :action => "remove_attachment", :user => @user.id, :attachment_type => "resume"}, :method => "post" %></div>
      <% end %></h4> 
      
<div class="fileupload fileupload-new" data-provides="fileupload">
   <div>
      <span class="btn btn-file">
      <span class="fileupload-new">Select Resume</span>
      <%= f.file_field :resume, :class => 'file_field' %>       </span>  
   </div>
</div>
<% end %>
    
    




        
        


      </div>
    </div>
<br>
  <div class="actions">
    <%= f.submit 'Update', :class => "w-button" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'w-button' %> 
  </div>
  <% end %>
        </div>
  </div>

