<%#= display_base_errors @user %>  
  <div class="control-group">   
  <%#= f.label :picture, :class => 'control-label' %>   
  <div class="controls">     
    <h4> Profile Picture upload </h4>
  <div class="fileupload fileupload-new" data-provides="fileupload"> 
    <!-- <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"> -->
        <!-- </div>  -->
        <div>
          <% if @user.picture.exists? %>
            <img src=<%= @user.picture.url(:download => false) %> />
          <% end %>
      <span class="btn btn-file">
            <span class="fileupload-new">Select image</span>     
        <span class="fileupload-exists">Change</span>        
                  <%= f.file_field :picture, :class => 'file_field' %>       </span>  
  <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
    </div> 
      </div>
    </div>
  </div>  

<h4> Resume upload </h4>
<div class="fileupload fileupload-new" data-provides="fileupload"> 
        <div> 
      <span class="btn btn-file">
            <span class="fileupload-new">Select image</span>     
        <span class="fileupload-exists">Change</span>        
            <%= f.file_field :resume, :class => 'file_field' %>       </span>  
                <% if @user.resume.exists? %> 
                  <%= @user.resume_file_name %>
                  <a href=<%= @user.resume.url(:download => true) %> class="btn fileupload-exists">Download</a>
          <% end %>
  <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
    </div> 
      </div>
    </div>
  </div>