<%#= display_base_errors @user %>  
<div class="control-group">
   <%#= f.label :picture, :class => 'control-label' %>   
   <div class="controls">
      <h4> Profile Picture upload </h4>
      <div class="fileupload fileupload-new" data-provides="fileupload">
         <!-- <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"> -->
         <!-- </div>  -->
         <div>
            <% if @user.picture.exists? %>
              <img src=<%= @user.picture.url(:download => false) %> />
              <%= link_to "Delete", {:controller => "users", :action => "remove_attachment", :user => @user.id, :attachment_type => "picture"}, :method => "post" %>
            <% end %>
            <span class="btn btn-file">
            <span class="fileupload-new">Select Image</span>             
            <%= f.file_field :picture, :class => 'file_field' %>       </span>  
         </div>
      </div>
   </div>
</div>

<h4> Resume upload </h4>
<div class="fileupload fileupload-new" data-provides="fileupload">
   <div>
      <span class="btn btn-file">
      <span class="fileupload-new">Select Resume</span>
      <%= f.file_field :resume, :class => 'file_field' %>       </span>  
      <% if @user.resume.exists? %> 
        <%= @user.resume_file_name %>
        <a href=<%= @user.resume.url(:download => true) %> class="btn fileupload-exists">Download</a>
        <%= link_to "Delete", {:controller => "users", :action => "remove_attachment", :user => @user.id, :attachment_type => "resume"}, :method => "post" %>
      <% end %>
   </div>
</div>