<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>

      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

  <% end %>

<% if !flash.empty? and !(flash.empty? == "SUCCESS LOGIN!")%>
  <%= flash[:notice] %>
<% end %>




    <%= f.text_field :username, :placeholder => "Username", class: "w-input" %><br>



    <%= f.text_field :email, :placeholder => "Email Address", class: "w-input" %><br>



    <%= f.password_field :password, :placeholder => "Password", class: "w-input" %><br>


    <%= f.password_field :password_confirmation, :placeholder => "Password Confirm", class: "w-input"%><br>


    <%= f.text_field :gpa, :placeholder => "GPA", class: "w-input" %><br>

    <%= f.text_field :major, :placeholder => "Major", class: "w-input" %><br>

    <%= f.text_field :minor, :placeholder => "Minor", class: "w-input" %><br>

    <%= f.text_field :name, :placeholder => "Name", class: "w-input" %><br>

    <%= f.text_field :website, :placeholder => "Website", class: "w-input" %><br>

    <%= f.text_field :graduating_year, :placeholder => "Graduating Year", class: "w-input" %><br>




  <div class="actions">
    <%= f.submit 'Update', :class => "w-button" %>
  </div>
<% end %>
