<%= form_for(@user, :html => {autocomplete:'off'}) do |f| %>
  <% if @user.errors.any? %>

      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

  <% end %>

    <%= f.text_field :username, :placeholder => "Username", class: "w-input" %>

    <%= f.text_field :name, :placeholder => "Name", class: "w-input" %>

    <%= f.text_field :email, :placeholder => "Email Address", class: "w-input" %>

    <%= f.password_field :password, :placeholder => "Password", class: "w-input" %>

    <%= f.password_field :password_confirmation, :placeholder => "Password Confirm", class: "w-input"%>

    <% if not @user.recruiter %>
    <div class="field">
    <%= f.text_field :skill_list, :placeholder => "Skills (comma separated)", class: "w-input" %>
  </div>
    <div class="field">
    <%= f.text_field :course_list, :placeholder => "Courses (comma separated)", class: "w-input" %>
  </div>
    <%= f.text_field :gpa, :placeholder => "GPA", class: "w-input" %>

    <%= f.text_field :major, :placeholder => "Major", class: "w-input" %>

    <%= f.text_field :minor, :placeholder => "Minor", class: "w-input" %>


    <%= f.text_field :website, :placeholder => "Website", class: "w-input" %>

    <%= f.text_field :graduating_year, :placeholder => "Graduating Year", class: "w-input" %>
    <% end %>


    <%= render "users/upload_form", :f => f %>
    


  <div class="actions">
    <%= f.submit 'Update', :class => "w-button" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn' %> 
  </div>
<% end %>
