<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Mar 14 2014 18:38:27 GMT+0000 (UTC) -->
<html data-wf-site="5307e34e3e274f132a000190">
<head>
  <meta charset="utf-8">
  <title>Events</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51e088cb308929c46c000051/51e1a444bceaf5b67b00004d_thumbnail-starter.png">
</head>
<body>
  <div class="section hero" >
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div width="auto" height="auto">
          <% if @user.picture.exists? %>

            <img class="hero-image" src=<%= @user.picture.url(:download => false) %> width="auto" height="auto" alt="5307e81e663cb6142a000316_UC-BERKELEY.jpg">
            
          <% else %>
            <%= image_tag "default_user_image.png", class:"hero-image", width:"auto", height:"auto" %>
          <% end %>
          </div>
        </div>
        <div class="w-col w-col-6 hero-column">
          <% if not @user.recruiter %>
          <h2><%= @user.username %></h2>
          Name: <%= @user.name %><br>
    
          
          Major: <%= @user.major %><br>
          Graduating year:<%= @user.graduating_year %><br>
          
            Email: <%= @user.email %>
              
              <br>Skills: <%= @user.skill_list %>
              
              <br>Resume: <a href=<%= @user.resume.url(:download => true) %> ><%= @user.resume_file_name %></a> 
              <br><br>



          <%= link_to (image_tag "gfacebook.png", width:"40"), @user.website, class:"w-inline-block social-link" %>

          <%= link_to (image_tag "glinkedin.png", width:"40"), @user.website, class:"w-inline-block social-link" %>



      <br><br>


              <% end %>
         <% if @user.recruiter %>
         <h2><%= @user.username %></h2>
          Name: <%= @user.name %><br>
          Username:<%= @user.username %><br>
          Email: <%= @user.email %>


         <% end %>
              <% if @user == current_user %>
            </p><%= link_to 'Edit', edit_user_path, class:"button action" %></a>
            <% end %>
        </div>

 </div>
    </div>
  </div>
        
        

 <div class="section">
    <h2>Events</h2>
    <div class="w-container">
      <% k=0 %>
      <% @events.each do |event| %>
        <% if k%4==0 %>
          <div class="w-row">
        <% end %>

        <div class="w-col w-col-3 w-col-small-6">
          
          <h3><%= link_to event.name, event %></h3>
          <p><%= event.description %></p>

          
                  <% if event.event_picture.exists? %>
                  
                        <img class="hero-image" src=<%= event.event_picture.url(:download => false) %> width="auto" height="auto" alt="5307e81e663cb6142a000316_UC-BERKELEY.jpg" align="bottom">
                    <% else %>
                        <%= image_tag "UC-BERKELEY.jpg", class:"hero-image", width:"auto", height:"auto" %>    
                    <% end %>
          
        </div>

        <% if k%4==3 %>
          </div>
        <% end %>
        <% k=k+1 %>
      <% end %>
      <% if k%4 != 0 %>
        </div>
      <% end %>

<% if not @user.recruiter %>
<div class="section">
    <h2>Jobs</h2>
    <div class="w-container">
      <% k=0 %>
      <% @user.jobs.each do |job| %>
        <% if k%4==0 %>
          <div class="w-row">
        <% end %>

        <div class="w-col w-col-3 w-col-small-6">
          
          <% ja=Jobapp.find_by_user_id_and_job_id(@user[:id], job[:id]) %>
          <% status= ja[:status] %>
          <% if status==0 or status==nil %>
            <h3><%= link_to job.title, job, style:"color:#012E64" %></h3>
            <h5>Status: Pending</h5>
          <% end %>
          <% if status==1 %>
            <h3><%= link_to job.title, job, style:"color:green" %></h3>

            <h5>Status: Accepted</h5>
          <% end %>
          <% if status==2 %>
          <h3><%= link_to job.title, job, style:"color:red" %></h3>

            <h5>Status: Denied</h5>
          <% end %>
          <p><%= job.description %></p>
        </div>

        <% if k%4==3 %>
          </div>
        <% end %>
        <% k=k+1 %>
      <% end %>
      <% if k%4 != 0 %>
        </div>
      <% end %>
<% end %>
</body>
</html>
