<p id="notice"><%= notice %></p>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Eventdate:</strong>
  <%= @event.date%>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<form id='adduser' method='post' action='/adduser'>
	<input id="event" type="text" name="event"><br>
	<input type="submit" value="Join This Event">
</form>
<script>
$(document).ready(function(){
  $('#event').hide();
  $('#event').val(<%= @event%>);
});

</script>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
