<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Mar 14 2014 18:38:27 GMT+0000 (UTC) -->
<html data-wf-site="5307e34e3e274f132a000190">
<head>
  <meta charset="utf-8">
  <title>Events</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize_events.css.scss">
  <link rel="stylesheet" type="text/css" href="css/webflow_events.css.scss">
  <link rel="stylesheet" type="text/css" href="css/eventsrecruit.webflow.css.scss">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51e088cb308929c46c000051/51e1a444bceaf5b67b00004d_thumbnail-starter.png">
</head>
<body>
  <div class="section hero">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 center">
          <div width="auto" height="auto">
                    <%= image_tag @event.link %>
                  </div>
        </div>
        <div class="w-col w-col-6 hero-column">
          <h2><%= @event.name %></h2>
          <p>Time: <%= @event.date %><br>
            <p>Location: <%= @event.location %><br>
            <p>Food Present: <%= @event.foodPresent %><br>
            <p>Accepting Resumes: <%= @event.acceptingResumes %><br>
            <p>Number of Organizers: <%= @event.numberOfOrganizers %><br>
            <p>Description: <%= @event.description %><br>
            <% if (@event.event_type == "speaker_panel") %>
              <p>Speakers: <%= @event.speakers %><br>
            <% end %>
              <p> Users attending: <%= @event.users.size %><br>
                <% if @user.events.exists?(@event) %>
                  <%= link_to 'Unfollow', removeUser_event_path, method: "post", class:"button action" %>
                <% else %>
                  <%= link_to 'Follow', addUser_event_path, method: "post", class:"button action" %>
                <% end %>
        <%= link_to 'Back', events_path, class:"button action" %>
        <%= link_to 'Delete', event_path(@event), method: "delete", class:"button action" %>
        </div>
        

        
        <h3>Attending:</h3>
        <div id="" style="overflow-y: hidden; height:400px;">
        <% if (@user.recruiter) %>
          <%= (@event.users).each do |user| %>
          <% if not user.recruiter %>
            </br>
            <%= link_to user.name, user %>
          <% end %>
          <% end %>
        <% else %>
          <%= (@event.users).each do |user| %>
          <% if user.recruiter %>
            </br>
            <%= link_to user.name, user %>
          <% end %>
          <% end %>
        <% end %>
        </div>



      </div>
    </div>
  </div>
  <hr>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow_events.js"></script>
</body>
</html>
